<html>
<head>
  <title>Testando o Ansible com NGINX!</title>
<body>
  <h1>Aprendendo ANSIBLE - 2021</h1>
  <h2>Esse aqui eh o meu IP: {{ ansible_facts.eth0.ipv4.address }}</h2>
</body>
</head>
</html>
